$n-ui-output-critical: true;

@import 'n-ui/configure';
@include nUiConfigure(
	$preset: 'complete'
);
@import 'n-ui/bootstrap';

@include nUiCriticalStart();
	$o-video-is-silent: false;
	@import 'o-video/main';
	$o-teaser-is-silent: false;
	@import 'o-teaser/main';
	$o-teaser-collection-is-silent: false;
	@import 'o-teaser-collection/main';

	$o-image-is-silent: false;
	@import 'n-image/main';

	.page-title {
		@include oTypographySerifDisplay(xl, $load-progressively: true);
		margin: 15px 0 0;
	}

	.highlight {
		margin-top: 35px;
		margin-bottom: 35px;

		@include oGridRespondTo(L) {
			max-width: 1388px;
		}
	}

	.n-image-wrapper,
	.highlight__image-link {
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			background-image: url('https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:play?source=next-video-page&tint=%23FFFFFF,%23FFFFFF&format=svg');
			background-color: #000000;
			background-size: cover;
			width: 15%;
			height: 15% * (16 / 9);
		}
	}

	.highlight__image-link {
		display: block;
		position: relative;
		border-bottom: 0;
	}

	.highlight__image {
		display: block;
		width: 100%;
	}

	.highlight__explainer {
		background-color: #25282f;
		padding: 20px;
		border-left: oGridGutter() solid getColor('pink');

		@include oGridRespondTo(M) {
			border-left-width: oGridGutter(M);
		}

		@include oGridRespondTo(L) {
			border-left-width: 0;
		}
	}

	.highlight__title {
		@include oTypographySansData(xl, $load-progressively: true);
		margin: 0;

		@include oGridRespondTo(M) {
			// TODO: get on scale, or don't override
			@include oTypographyFallbackFontSize('sansData', 52px);
			line-height: 1em;
		}
	}

	.highlight__title__link {
		border-bottom: 0;
		color: getColor('white');

		&:hover {
			color: getColor('white');
		}
	}

	.highlight__body {
		@include oTypographySansData(l, $load-progressively: true);
		color: #a7a9ac;

		p {
			margin: 20px 0 0;
		}
	}

	// o-teaser overrides - move into o-teaser
.o-teaser__image-container {
	@include oGridRespondTo($until: S) {
		flex-basis: 100% !important;
		padding-right: 0 !important;
	}

	@include oGridRespondTo($from: S, $until: M) {
		flex-basis: 50% !important;
	}

	@include oGridRespondTo($until: M) {
		display: block !important;
	}
}
.o-teaser__content {
	@include oGridRespondTo($until: S) {
		flex-basis: 100% !important;
	}

	@include oGridRespondTo($from: S, $until: M) {
		flex-basis: 50% !important;
	}
}
@include nUiCriticalEnd();
