$n-ui-output-critical: true;

@import 'n-ui/configure';
@include nUiConfigure(
	$preset: 'complete'
);
@import 'n-ui/bootstrap';

@include nUiCriticalStart();

	$o-video-is-silent: false;
	@import 'o-video/main';
	$o-teaser-is-silent: false;
	@import 'o-teaser/main';
	$o-teaser-collection-is-silent: false;
	@import 'o-teaser-collection/main';

	$o-image-is-silent: false;
	@import 'n-image/main';

	@import 'components/o-teaser';
	@import 'components/hero';
	@import 'components/carousel/carousel';

	.page-title {
		@include oTypographySerifDisplay(xl, $load-progressively: true);
		margin: 15px 0 0;
	}

@include nUiCriticalEnd();
