.DS_Store
.editorconfig
*.env*
.eslintrc.js
.scss-lint.yml

/.node-version
/node*
!/nodemon.json

/npm-debug.log*
/public/__about.json
/public/asset-hashes.json
/public/main.css
/public/main.css.map
/public/main.js
/public/main.js.map

/.haikro-cache/
/.idea/
/bower_components/
