<div class="o-grid-container">
	<div class="o-grid-row">
		<div data-o-grid-colspan="12">
			<h1 class="page-title">Videos</h1>
		</div>
	</div>
</div>

<div class=" highlight o-grid-container">
	<div class="o-grid-row">
		<div class="highlight__image-wrapper" data-o-grid-colspan="12 L6">
			<a href="{{highlight.url}}" class="highlight__image-link" data-trackable="image">
				<img src="{{highlight.image.src}}" class="highlight__image" />
			</a>
		</div>
		<div class="highlight__explainer" data-o-grid-colspan="12 L6">
			<h2 class="highlight__title">
				<a href="{{highlight.url}}" class="highlight__title__link" data-trackable="title">{{highlight.title}}</a>
			</h2>
			<div class="highlight__body">{{{highlight.bodyHTML}}}</div>
		</div>
	</div>
</div>

{{#each slices}}
	<div class="o-teaser-collection o-grid-container">
		<h2 class="o-teaser-collection__heading o-teaser-collection__heading--half-width">
			{{#if url}}
				<a href="{{url}}" data-trackable="slice-title">{{title}}</a>
			{{else}}
				{{title}}
			{{/if}}
		</h2>
		<div class="o-grid-row">
			{{#each videos}}
			<div data-o-grid-colspan="12 M6 L3">
				{{>n-teaser/templates/heavy
					mods=(array 'small' 'stacked')
					position='{"default": "bottom"}'}}
			</div>
			{{/each}}
		</div>
	</div>
{{/each}}
