<div class="o-grid-container">
	<div class="o-grid-row">
		<div data-o-grid-colspan="12">
			<h1 class="page-title">Video</h1>
		</div>
	</div>
</div>

{{#with hero}}
	{{#if ../useLatestHeroStyling}}
		<div class="hero-v2" data-trackable="hero">
			<a href="{{url}}" class="hero-v2__link" data-trackable="link">
				<img src="https://www.ft.com/__origami/service/image/v2/images/raw/{{encode image.url}}?source=next-video-page&amp;width=1440&amp;height=480&amp;gravity=faces" class="hero-v2__image" />
				<div class="hero-v2--overlay o-grid-container">
					<div class="o-grid-row">
						<div class="hero-v2--info" data-o-grid-colspan="12">
							{{#if tag}}
								<h3 class="hero-v2__tag">{{tag.name}}</h3>
							{{/if}}
							<h2 class="hero-v2__title">{{title}}</h2>
						</div>
					</div>
				</div>
			</a>
		</div>
	{{else}}
		<div class="hero o-grid-container" data-trackable="hero">
			<div class="o-grid-row">
				<div class="hero__image-wrapper" data-o-grid-colspan="12 L6">
					<a href="{{url}}" class="hero__image-link" data-trackable="image">
						<img src="https://www.ft.com/__origami/service/image/v2/images/raw/{{encode image.url}}?source=next-video-page&amp;width=670" class="hero__image" />
					</a>
				</div>
				<div class="hero__explainer" data-o-grid-colspan="12 L6">
					<h2 class="hero__title">
						<a href="{{url}}" class="hero__title__link" data-trackable="title">{{title}}</a>
					</h2>
					<div class="hero__body">{{{bodyHTML}}}</div>
				</div>
			</div>
		</div>
	{{/if}}
{{/with}}

<div data-trackable="slices">
	{{#each slices}}
		<div class="o-teaser-collection o-grid-container" data-trackable="{{trackingId}}">
			<h2 class="o-teaser-collection__heading o-teaser-collection__heading--half-width">
				{{#if url}}
					<a href="{{url}}" data-trackable="title">{{title}}</a>
				{{else}}
					{{title}}
				{{/if}}
			</h2>
			<div class="carousel js-carousel" id="{{id}}">
				<div class="carousel-inner">
					<ol class="carousel__items o-grid-row">
						{{#each videos}}
							<li class="carousel__item" data-o-grid-colspan="12 S6 L4 XL3">
								{{>n-teaser/templates/heavy
									mods=(array 'small' 'stacked' 'video')
									position='{ "default": "bottom" }'
									widths=(array 172 254 352)
									colspan='{ "default": 12, "S": 6, "L": 4, "XL": 3 }'}}
							</li>
						{{/each}}
					</ol>
				</div>
			</div>
		</div>
	{{/each}}
</div>
