<div class="o-grid-container">
	<h1>{{video.title}}</h1>
	<div class="o-grid-row">
		<div data-o-grid-colspan="offset1 10">
			<div class="video-container">
				<div
					class="o-video"
					data-o-component="o-video o-video--large"
					data-o-video-id="{{video.id}}"
					data-o-video-placeholder="true"
					data-o-video-advertising="true"></div>
			</div>
		</div>
	</div>
</div>

{{#each slices}}
	<div class="o-teaser-collection o-grid-container">
		<h2 class="o-teaser-collection__heading o-teaser-collection__heading--half-width">
			{{#if url}}
				<a href="{{url}}" data-trackable="slice-title">{{title}}</a>
				<!--<span>See all {{videoCount}} videos</span>-->
			{{else}}
				{{title}}
			{{/if}}
		</h2>
		<div class="o-grid-row">
			{{#each videos}}
			<div data-o-grid-colspan="3">
				{{>n-teaser/templates/heavy
					mods=(array 'small' 'stacked')
					position='{"default": "bottom"}'}}
			</div>
			{{/each}}
		</div>
	</div>
{{/each}}
