.carousel {
	position: relative;

	.core & {
		overflow: scroll;
	}
}

.carousel-inner {
	overflow: hidden;
	width: 75%;
	margin: 0 auto;

	@include oGridRespondTo(L) {
		width: 100%;
	}
}

.carousel__items {
	margin: 0;
	padding: 0;
	transition-timing-function: ease;
	transition-duration: 300ms;
	flex-wrap: nowrap;
}

.carousel-arrow {
	content: '';
	text-align: center;
	position: absolute;
	top: 0;
	width: 12.5%;
	height: 100%;
	padding: 0;
	z-index: 1;
	background: transparent;
	border: 0;

	&:after {
		@include oIconsGetIcon('arrow-left', #000000, 50);
		content: '';
	}

	&[disabled] {
		opacity: 0.2;
	}
}

.carousel-arrow--previous {
	left: 0;
}

.carousel-arrow--next {
	right: 0;

	&:after {
		@include oIconsGetIcon('arrow-right', #000000, 50, $apply-base-styles: false, $apply-width-height: false);
	}
}
