.hero {
	margin-top: 35px;
	margin-bottom: 35px;

	@include oGridRespondTo(L) {
		max-width: 1388px;
	}
}

.hero__image-wrapper {
	overflow: hidden;
}

.n-image-wrapper,
.hero__image-link {
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		background-image: url('https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:play?source=next-video-page&tint=%23FFFFFF,%23FFFFFF&format=svg');
		background-color: #000000;
		background-size: cover;
		width: 15%;
		height: 15% * (16 / 9);
	}
}

.hero__image-link {
	display: block;
	position: relative;
	border-bottom: 0;
	padding-bottom: 56.25%;
}

.hero__image {
	display: block;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

.hero__explainer {
	background-color: #25282f;
	padding: 20px;
	border-left: oGridGutter() solid getColor('pink');

	@include oGridRespondTo(M) {
		border-left-width: oGridGutter(M);
	}

	@include oGridRespondTo(L) {
		border-left-width: 0;
	}
}

.hero__title {
	@include oTypographySansData(xl, $load-progressively: true);
	margin: 0;

	@include oGridRespondTo(M) {
		// TODO: get on scale, or don't override
		@include oTypographyFallbackFontSize('sansData', 52px);
		line-height: 1em;
	}
}

.hero__title__link {
	border-bottom: 0;
	color: getColor('white');

	&:hover {
		color: getColor('white');
	}
}

.hero__body {
	@include oTypographySansData(l, $load-progressively: true);
	color: #a7a9ac;

	p {
		margin: 20px 0 0;
	}
}
