.hero {
	margin-top: 35px;
	margin-bottom: 35px;

	@include oGridRespondTo(L) {
		max-width: 1388px;
	}
}

.hero__image-wrapper {
	overflow: hidden;
}

.hero__image-link {
	display: block;
	position: relative;
	border-bottom: 0;
	padding-bottom: percentage(9/16);

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		background-image: url('https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:play?source=next-video-page&tint=%23FFFFFF,%23FFFFFF&format=svg');
		background-color: #000000;
		background-size: cover;
		width: 15%;
		height: 15% * (16 / 9);
	}
}

.hero__image {
	display: block;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

.hero__explainer {
	background-color: #25282f;
	padding: 20px;
	border-left: oGridGutter() solid getColor('pink');

	@include oGridRespondTo(M) {
		border-left-width: oGridGutter(M);
	}

	@include oGridRespondTo(L) {
		border-left-width: 0;
	}
}

.hero__title {
	@include oTypographySansData(xl, $load-progressively: true);
	margin: 0;

	@include oGridRespondTo(M) {
		// TODO: get on scale, or don't override
		@include oTypographyFallbackFontSize('sansData', 52px);
		line-height: 1em;
	}
}

.hero__title__link {
	border-bottom: 0;

	&,
	&:hover,
	&:focus {
		color: getColor('white');
	}
}

.hero__body {
	@include oTypographySansData(l, $load-progressively: true);
	color: #a7a9ac;

	p {
		margin: 20px 0 0;
	}
}

/**
 * LATEST HERO STYLE
 */

.hero-v2 {
	margin: 35px auto;

	@include oGridRespondTo(L) {
		max-width: 1472px;
	}
}

.hero-v2__link {
	display: block;
	position: relative;
	border-bottom: 0;
}

.hero-v2__image {
	display: block;
	width: 100%;

	@include oGridRespondTo(M) {
		position: absolute;
	}
}

.hero-v2--overlay {
	@include oGridRespondTo(M) {
		padding-bottom: percentage(1/3);
	}

	&:after {
		position: absolute;
		bottom: 0;
		left: oGridGutter();
		background-image: url('https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:play?source=next-video-page&tint=%23FFFFFF,%23FFFFFF&format=svg');
		background-color: #000000;
		background-size: cover;
		background-position: 50%;
		width: 40px;
		height: 40px;

		@include oGridRespondTo(M) {
			content: '';
		}

		@include oGridRespondTo(L) {
			width: 100px;
			height: 100px;
			left: oGridGutter(L);
		}
	}
}

.hero-v2--info {
	top: 0;

	@include oGridRespondTo(M) {
		position: absolute;
	}
}

.hero-v2__tag {
	@include oTypographySansData(l, $load-progressively: true);
	display: inline-block;
	color: getColor('claret');
	margin: 10px 0 0;
	padding-right: 20px;

	@include oGridRespondTo(M) {
		margin-top: 20px;
		padding-bottom: 10px;
		border-bottom: 5px solid getColor('white');
		color: getColor('white');
	}
}

.hero-v2__title {
	@include oTypographySansData(xl, $load-progressively: true);
	top: 0;
	color: getColor('black');
	margin: 10px 0 0;
	padding: 0;

	@include oGridRespondTo(M) {
		// TODO: get on scale, or don't override
		@include oTypographyFallbackFontSize('sansData', 52px);
		margin-top: 20px;
		line-height: 1em;
		color: getColor('white');
	}
}
