// o-teaser overrides - move into o-teaser
.o-teaser--video {
	@include oGridRespondTo($until: M) {
		border-bottom: 0;
		padding-bottom: 0;
	}

	.o-teaser__duration {
		@include oTypographySansData(m);
		line-height: 18px;
		color: #656059;
		display: inline-block;
		margin: 0 0 0 10px;

		&:first-child {
			margin-left: 0;
		}
	}

	.o-teaser__image-container {
		@include oGridRespondTo($until: M) {
			flex-basis: 100%;
			display: block;
			padding-top: 0;
			padding-right: 0;
		}
	}

	.o-teaser__content {
		@include oGridRespondTo($until: M) {
			flex-basis: 100%;
		}
	}

	.n-image-wrapper {
		overflow: hidden;

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			background-image: url('https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:play?source=next-video-page&tint=%23FFFFFF,%23FFFFFF&format=svg');
			background-color: #000000;
			background-size: cover;
			width: 15%;
			height: 15% * (16 / 9);
			min-width: 40px;
			min-height: 40px;
		}
	}
}
